@import './../assets/instruments/variables.scss';

button, select {
    padding: 5px 10px;
    font-size: 15px;
    margin: 10px 5px;
    font-family: $font-main;
    background-color: transparentize($color: $bg-color-main, $amount: 0.4);
    color: $color-sub;
    border: 1px solid transparentize($color: $color-main, $amount: 0.4);
    transition: 0.1s;
    height: 36px;
    border-radius: 6px;

    &:hover {
        background-color: $color-main;
        border-color: transparentize($color: #fff, $amount: 0.4);
    }

    &:focus {
        outline: 0;
    }
}

button:active {
    transform: scale(1.1, 1.1);
}

nav {
    position: fixed;
    // transform: translateX(-90%);
    background-color: transparentize($color: $bg-color-secondary, $amount: 0.2);

    ul {
        list-style: none;
        width: 910px;
        height: 57px;
        margin: 0;
        padding: 0;
        align-items: center;
        display: flex;
        
        li {
            display: inline-block;
            width: 25%;
            height: 40px;
            text-transform: uppercase;
            font-family: $font-main;
            color: $color-main;
            font-size: 30px;
            padding: 8px 0;
            text-align: center;

            &:hover {
                background-color: $color-main;
                cursor: pointer;
                color: $color-sub;
            }

            &:last-child {
                margin-left: 15px;
                margin-bottom: 20px;
                padding: 0;
                width: 10%;
                font-size: 40px;

                &:hover {
                    color: $color-sub;
                    background-color: transparent;
                }

            }

            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}


header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(./../assets/images/header-bg.png);
    background-size: cover;
    height: 100vh;

    div {
        margin-right: 15%;

        img {
            width: 160px;
            height: 130px;
        }

        p {
            font-size: 50px;
            text-transform: uppercase;
            color: $color-sub;
            font-family: $font-main;
            margin-bottom: 0;
        }

        span {
            font-size: 60px;
            text-transform: uppercase;
            color: $color-main;
            font-family: $font-main;
            font-weight: bold;
        }

        a { 
            padding: 10px 15px;
            text-align: center;
            display: block;
            font-size: 50px;
            text-transform: uppercase;
            color: $color-main;
            font-family: $font-main;
            margin-top: 80px;
            background-color: transparentize($color: $bg-color-secondary, $amount: 0.4);
            
            &:hover {
                background-color: $bg-color-secondary;
                cursor: pointer;
            }
        }
    }
}

.cook__section {
    display: flex;
    flex-direction: column;
    background-color: $bg-color-main;

    .main__cont {
        display: flex;
        justify-content: center;

        div {
            width: 50%;
        }

        .arrow__cont {
            text-align: end;

            img {
                width: 100%;
            }
        }

        .text__cont {
            font-size: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            span {
                font-family: $font-gochi;
                color: $color-main;
                margin-left: 70px;
            }

            p {
                color: $color-sub;
                margin-left: 70px;
                font-family: $font-main;
            }
        }
    }

    .facts__cont {
        display: flex;
        justify-content: center;
        background-color: $bg-color-secondary;

        div {
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 50px 0;

            span {
                font-family: $font-gochi;
                font-size: 25px;
                color: $color-main;
            }

            p {
                width: 65%;
                font-family: $font-main;
                font-size: 25px;
                color: $color-sub;
            }
        }
    }
}

.order__section {
    background-color: $bg-color-main;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    .outer__cont {
        width: 70%;
        background-color: $bg-color-secondary;
        display: flex;
        flex-direction: column;
        border: 90px solid $bg-color-main;

        .heading {
            text-align: center;
            margin-top: 35px;

            span {
                font-family: $font-gochi;
                color: $color-main;
                font-size: 35px;
            }

            p {
                font-family: $font-main;
                color: $color-sub;
                text-transform: uppercase;
                font-size: 50px;
                font-weight: lighter;
                margin-top: 0;
            }
        }

        .dishes__cont {
            display: flex;
            justify-content: center;
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;

            .single-dish__cont {
                display: flex;
                justify-content: center;
                width: 50%;
                flex-direction: row;
                flex-wrap: wrap;

                img {
                    width: 50%;
                }
    
                .dish__desc {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    text-align: center;
                    border-top: 2px solid transparentize($color: $color-main, $amount: 0.4);
    
                    span {
                        font-size: 25px;
                        color: $color-main;
                        text-transform: capitalize;
                        font-family: $font-gochi;
                    }
    
                    .pricing {
                        color: $color-sub;
                    }

                    .order__total {
                        font-size: 16px;
                        font-family: $font-main;
                        color: $color-sub;
                    }
    
                    p {
                        color: $color-sub;
                        font-size: 1em;
                        margin: 20px 0;
                        width: 85%;
                        font-family: $font-main;
                    }
    
                    div {
                        display: flex;
                        justify-content: center;
                        
                    }
                    
                }

            }
        }
    }
}

.order-confirm__section {
    height: 1730px;
    background-image: url('./../assets/images/bg-order-confirm.png');
    background-size: cover;
    border-top: 1px solid transparent;
    
    form {
        background-color: transparentize($color: $bg-color-main, $amount: 0.1);
        margin: 500px auto;

        .order-confirm__heading {
            border-top: 1px solid transparent;
            text-align: center;

            p {
                color:$color-main;
                font-family: $font-gochi;
                font-size: 35px;
            }
        }

        .order-confirm-inner__container {
            display: flex;
            justify-content: center;

            .input__container {
                margin: 15px 70px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 25%;

                &:last-child {
                    flex-shrink: 0;
                }

                label {
                    margin-bottom: 10px;
                    color: $color-sub;
                    font-family: $font-main;
                    font-size: 20px;
                }

                input {
                    width: 300px;
                    background-color: transparentize($color: $bg-color-secondary, $amount: 0.4);
                    color: $color-sub;
                    font-family: $font-main;
                    font-size: 18px;
                    border: none;
                }
                
                #number-of-people {
                    width: 80px;
                    text-align: center;
                }
            }
        }

        .order__details {
            display: flex;
            flex-direction: column;
            align-items: center;

            .order-details__detail {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 20px;
                width: 80%;

                span {
                    color: $color-main;
                    font-family: $font-gochi;
                    font-size: 30px;
                    margin: 20px auto;
                    text-transform: capitalize;
                    width: 200px;

                    &:last-child {
                        font-size: 60px;
                        color: $color-sub;
                        width: 30px;
                        margin: 0;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                input {
                    width: 80px;
                    height: 25px;
                    background-color: transparentize($color: $bg-color-secondary, $amount: 0.4);
                    color: $color-sub;
                    font-family: $font-main;
                    font-size: 16px;
                    border: none;
                    text-align: center;
                }
            }
            .total-cost {
                font-size: 35px;
                font-family: $font-gochi;
                color: $color-sub;
            }
        
        }  
    }

    .gratitude__container {
        background-color: transparentize($color: $bg-color-main, $amount: 0.1);
        margin: 500px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300px;

        p {
            color:$color-sub;
            font-family: $font-main;
            font-size: 35px;
        }

        span {
            color: $color-main;
            font-family: $font-gochi;
            font-size: 30px;
            margin: 20px auto;
            text-transform: capitalize;
        }
    }
}

.new__menu {
    background-color: $bg-color-secondary;
    border: 1px solid transparent;

    .new-menu-heading__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;

        span {
            color: $color-main;
            font-family: $font-gochi;
            font-size: 45px;
        }

        p {
            text-transform: uppercase;
            color: $color-sub;
            font-family: $font-main;
            font-size: 35px;
            margin-top: 0;
        }
    }

    .new-menu-dishes__container {
        display: flex;
        justify-content: center;
        margin: 40px auto;

        .new-menu-dish {
            background-color: $color-sub;
            font-family: $font-main;
            width: 17%;
            margin: 0 40px;
            

            img {
                width: 100%;
            }

            span {
                display: block;
                font-size: 16px;
                margin: 15px 10px;
                font-weight: bolder;

                &:hover {
                    color: $color-main;
                    cursor: pointer;
                }
            }

            p {
                font-size: 15px;
                margin: 5px 10px;
            }
        }
    }
}

footer {
    background-color: $bg-color-secondary;

    .socials__cont {
        background-color: $bg-color-main;
        display: flex;
        justify-content: center;

        img {
            margin: 25px 35px;

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }

    .info__cont {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            flex-direction: column;
            margin: 30px 80px;
            width: 40%;

            span {
                font-family: $font-main;
                font-size: 25px;
                color: $color-sub;
                margin-bottom: 15px;
                text-transform: uppercase;
            }

            p {
                color: $color-sub;
                font-family: $font-main;
                font-size: 18px;
                margin: 0;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 10px 0;

                    a {
                        text-decoration: none;
                        color: $color-sub;
                        font-family: $font-main;
                        font-size: 18px;

                        &:hover {
                            border-bottom: 1px solid $color-sub;
                            cursor: pointer;
                        }
                    }
                }
            }

        }
    }
}