<nav [style.transform] = 'menuPosition'>
  <ul>
    <li><a href='#top'>welcome</a></li>
    <li><a href='#menu'>menu</a></li>
    <li><a href='#order'>order</a></li>
    <li><a href='#contact'>contact</a></li>
    <li (click) = 'toggleMenu()'>&#9776;</li>
  </ul>
</nav>
<header id='top'>
  <div>
    <img src="./assets/images/logo.png">
    <p>New opening</p>
    <span>23rd sept</span>
    <br>
    <a>learn more</a>
  </div>
</header>
<main>
  <section class='cook__section'>
    <div class='main__cont'>
      <div class='text__cont'>
        <span>What do we actually cook?</span>
        <p>Lorem ipsum dolor sit amet, consectetur 
          adipisicing elit sed do eiusmod tempor 
          incididunt ut labore et dolorem magna aliqua. 
          Ut enim ad minim veniam, quis nostrud</p>
      </div>
      <div class='arrow__cont'>
        <img src="./assets/images/section2-arrow.png">
      </div>
    </div>
    <div class='facts__cont'>
      <div>
        <span>
          New tastes
        </span>
        <p>
          Lorem ipsum dolor sit amet, consectetur 
          adipisicing elit sed do eiusmod tempor 
          incididunt ut labore et dolorem magna aliqua.
        </p>
      </div>
      <div>
        <span>
          New dishes cooking
        </span>
        <p>
          Lorem ipsum dolor sit amet, consectetur 
          adipisicing elit sed do eiusmod tempor 
          incididunt ut labore et dolorem magna aliqua.
        </p>
      </div>
      <div>
        <span>
          New restaraunt
        </span>
        <p>
          Lorem ipsum dolor sit amet, consectetur 
          adipisicing elit sed do eiusmod tempor 
          incididunt ut labore et dolorem magna aliqua.
        </p>
      </div>
    </div>
  </section>
  <section class='order__section' id='menu'>
    <div class='outer__cont'>
      <div class='heading'>
        <span>We bring tradition</span>
        <p>to your plate</p>
      </div>
      <div class='dishes__cont'>
        <div class='single-dish__cont' *ngFor='let dish of dishes'>
          <img [src]= 'dish.photo_url'>
          <div class='dish__desc'>
            <span class='dish__name'>{{dish.name}}</span>
            <p>{{dish.description}}</p>
            <div>
              <select (change) = 'showPrice()'>
                <option *ngFor = 'let num of [1,2,3,4,5,6].slice(0, (6 - dish.amount))'>{{num}}</option>
              </select>
              <button type='button' (click)='addDishToOrder(dish.name)'>Add to your order!</button>
            </div>
            <span class='pricing'>{{dish.price | currency}}</span>
            <span class='order__total'>Total for this dish: {{dish.price * dish.amount | currency}}, Amount: {{dish.amount}} (max: 6)</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='order-confirm__section'>
    <form id='order'>
      <div class='order-confirm__heading'>
        <p>Confirm your order!</p>
      </div>
      <div class='order-confirm-inner__container'>
        <div class='input__container'>
          <label for='full-name'>Full Name</label>
          <input type ='text' id='full-name' maxlength="35" placeholder="John Smith" minlength="5">
        </div>
        <div class='input__container'>
          <label for='phone-number'>Phone Number</label>
          <input type ='text' id='phone-number' placeholder="+7999111222" maxlength="11" minlength="11">
        </div>
        <div class='input__container'>
          <label for='number-of-people'>How many people?</label>
          <input type ='number' id='number-of-people' min='1' max='10' (keydown) = 'false' value='1'>
        </div>
      </div>
      <div class='order__details'>
        <div class='order-details__detail' *ngFor = 'let dish of dishes'>
          <span  *ngIf = 'dish.amount > 0'>{{dish.name}}</span>
          <input *ngIf = 'dish.amount > 0' 
          type ='number' min='0' max='6' 
          (keydown) = 'false' [value] = 'dish.amount'
          (change) = 'changeAmount(dish)'>
          <span  *ngIf = 'dish.amount > 0'>{{(dish.amount * dish.price).toFixed(2) | currency}}</span>
        </div>
        <p class='total-cost'>{{totalCost()}}</p>
        <button type="button">Confirm order</button>
      </div>
    </form>
  </section>
  <section class='new__menu'>
    <div class='new-menu-heading__container'>
      <span>Discover</span>
      <p>our new menu</p>
    </div>
    <div class='new-menu-dishes__container'>
      <div class='new-menu-dish'>
        <img src="./assets/images/new-menu-1.png">
        <span class='new-dish-name'>Food / 16th March, 2020</span>
        <p>Lorem ipsum dolor sit amet, consectetur 
          adipisicing elit sed do eiusmod tempor 
          incididunt ut labore et dolorem magna aliqua.</p>
        <span>Read more</span>
      </div>
      <div class='new-menu-dish'>
        <img src="./assets/images/new-menu-2.png">
        <span class='new-dish-name'>Spices / 16th March, 2020</span>
        <p>Lorem ipsum dolor sit amet, consectetur 
          adipisicing elit sed do eiusmod tempor 
          incididunt ut labore et dolorem magna aliqua.</p>
        <span>Read more</span>
      </div>
      <div class='new-menu-dish'>
        <img src="./assets/images/new-menu-3.png">
        <span class='new-dish-name'>Chicken Curry / 05th April, 2020</span>
        <p>Lorem ipsum dolor sit amet, consectetur 
          adipisicing elit sed do eiusmod tempor 
          incididunt ut labore et dolorem magna aliqua.</p>
        <span>Read more</span>
      </div>
    </div>
  </section>
  <footer id='contact'>
    <div class='socials__cont'>
      <img src='./assets/images/social-1.png'>
      <img src='./assets/images/social-2.png'>
      <img src='./assets/images/social-3.png'>
      <img src='./assets/images/social-4.png'>
      <img src='./assets/images/social-5.png'>
    </div>
    <div class='info__cont'>
      <div class='about__cont'>
        <span>about</span>
        <p>Lorem ipsum dolor sit amet, consectetur 
          adipisicing elit sed do eiusmod tempor 
          incididunt ut labore et dolorem magna aliqua.</p>
      </div>
      <div class='links__cont'>
        <span>links</span>
        <ul>
          <li><a>Link</a></li>
          <li><a>Link</a></li>
          <li><a>Link</a></li>
          <li><a>Link</a></li>
        </ul>
      </div>
    </div>
  </footer>
</main>